<div class="main-carousel">
  <div class="carousel-cell"><img src="https://source.unsplash.com/0G2ZxV31kk4" alt=""></div>
  <div class="carousel-cell"><img src="https://source.unsplash.com/0G2ZxV31kk4" alt=""></div>
  <div class="carousel-cell"><img src="https://source.unsplash.com/0G2ZxV31kk4" alt=""></div>
  ...
</div>
