// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://use.typekit.net/exg1mty.css");
// Define fonts for body and headers
// $body-font: "Roboto", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

$body-font: "Proxima Nova Regular", "Helvetica", "sans-serif";
$headers-font: "Proxima Nova Extra Condensed Bold ", "Helvetica", "sans-serif";


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// define the fonts as variables
h1{
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-size: 40px;
  font-weight: 800 !important;
  font-style: normal;
  color: black !important;
}
