// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url(//db.onlinewebfonts.com/c/8e1d67297e7f1335b9319a8d1f9cc01a?family=Verlag+Condensed+Black);
@import url("https://use.typekit.net/exg1mty.css");
// Define fonts for body and headers
// $body-font: "Roboto", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

$body-font: "Proxima Nova Regular", "Helvetica", "sans-serif";
$headers-font: "Proxima Nova Extra Condensed Bold ", "Helvetica", "sans-serif";


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// define the fonts as variables

h1 {
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-weight: 800 !important;
  font-size: 40px !important;
  font-style: normal;
  color: black;
}

h2 {
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-weight: 800 !important;
  font-size: 33px !important;
  font-style: normal;
  color: black;
}

h3 {
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-weight: 800 !important;
  font-size: 24px !important;
  font-style: normal;
  color: black !important;
}

h4 {
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-weight: 800 !important;
  font-size: 20px !important;
  font-style: normal;
  color: black !important;
}

h5 {
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-weight: 800 !important;
  font-size: 16px !important;
  font-style: normal;
  color: black;
}

p {
  font-family: proxima-nova, sans-serif;
  font-weight: 400 !important;
  font-style: normal;
  font-size: 14px !important;
}
