.panny {
	width: calc(85% / 3 * 2);
	height: 100vh;
	position: -webkit-sticky;
  position: fixed;
  top: 3rem;
  justify-content: right;
  padding: 10px;
}

.grid {
	display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}


