.gallerie-edit {
  padding-top: 80px;
  .gallerie-description {
    padding-left: 20px;
  }
}
.gallerie-tabs {
  padding-top: 40px;
}

.add-new {
  width: 200px;
  height: 200px;
  border: 1px solid lightgrey;
  background-color: white;
}
.fa-plus {
  color: grey;
}

.add-new-artwork {
  width: 200px;
  height: 200px;
}

.panny {
	width: calc(85% / 3 * 2);
	height: 100vh;
	position: -webkit-sticky;
  position: fixed;
  top: 3rem;
  justify-content: right;
  padding: 10px;
}

.grid {
	display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

.home  {
  background-color: white;
}
.profile{
  background-color: white;
}


.fa-pen-nib {
  color: grey;
  &:hover {
  color: black;
  }
}

.artworks-index {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.box-spacing {
  margin: 20px;
}