.image-show {
  height: 100vh;

  img {
    height: 100vh;
    // position: absolute;
    // object-fit: cover;
    // top: 0;
    // left: 0;
  }
}

.wall-img {
  height: 100vh !important;
  object-fit: cover;
  position: relative;
}

.banner-container {
  width: 95%;
  margin: 0 auto;
}
