.image-show {
  height: 100vh;

  img {
    height: 50vh;
    // position: absolute;
    // object-fit: cover;
    // top: 0;
    // left: 0;
  }
}

.wall-img {
  height: 100vh !important;
  object-fit: cover;
  position: relative;
}
