.container{
  border: 2px solid rgba(114, 186, 94, 0.1);
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.profile {
  margin-top: 18px; 
  background-color: white; 
  text-align: center; 
  width: 300px;
  padding: 16px; 
  position: -webkit-sticky;
  position: fixed;
  top: 3rem;
  font-style: $headers-font;
  flex-direction: column;
}

h5, p {
  font-family: $body-font;
}
.btn_add_show {
  background-color: black; 
  border: none;
  &:hover {
    background-color: $brand-color;
  }
}
.fab:hover {
    color: $brand-color;
}  

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black; 
  text-decoration: none;
  &:hover {
    text-decoration: none; 
    color: grey; 
  }
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
    color: black; 
  text-decoration: none;
}


.card-product .card-product-infos {
  padding: 16px;
}

.card-writing {
  height: 100px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
  & h1 {
    text-align: center; 
  }
  & p {
    font-weight: 100;
    font-size: 12px;
    line-height: 1.4;
  }
}
