.container{
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.profile {
  margin-top: 18px;
  margin-right: 20px;
  background-color: white;
  text-align: center;
  width: 300px;
  padding: 10px;
  position: -webkit-sticky;
  position: fixed;
  top: 3rem;
  font-style: $headers-font;
  flex-direction: column;
}

h5, p {
  font-family: $body-font;
}
.btn_add_show {
  border: none;
  font-family: $body-font;
  &:hover {
    background-color: lightgrey;
    font-family: $body-font;
  }
}
.fab:hover {
    color: $brand-color;
}

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: grey;
  }
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
    color: black;
  text-decoration: none;
}


.card-product .card-product-infos {
  padding: 16px;
}

.card-writing {
  height: auto;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: right;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  & h1 {
    text-align: center;
  }
  & p {
    font-weight: 100;
    font-size: 12px;
    line-height: 1.4;
  }
}

.publishing-data {
  font-size: 12px;
  color: rgb(96, 95, 95);
  margin-bottom: 8px;
}

.article {
  width: 300px;
}

.link-font {
  font-family: $body-font;
}

.biography {
  font-family: $body-font;
  width: 200px;
  text-align: left;
  text-align: justify;
  color: grey; font-size:14px;
  margin: 8px auto;
}
