<div class="container d-flex mt-5">
	<div class="col-8">
		<div class="m-2">
			<div class="panny">
				Here comes Panel with Drag n Drop function
			</div>
		</div>
	</div>
	<div class="col-2-2">
		<div class="m-2">
			<% @artworks.each do |a| %>
				<div class="flex-item">
					<%= cl_image_tag(a.photo.key, transformation: { width: 100, height: 100, crop: 'fill'})%>
				</div>
			<% end %>
		</div>
	</div>
</div>