<div class="footer nav-elements">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook" style="color:lightgrey"></i></a>
    <a href="#"><i class="fab fa-twitter" style="color:lightgrey"></i></a>
    <a href="#"><i class="fab fa-linkedin" style="color:lightgrey"></i></a>
  </div>
</div>