<!-- HERO -->
<div class="home-banner">
  <div class="banner-container">
    <div class="home-banner-content">
      <div class="live"><h4>vernissage <br> opening</h4></div>
        <div class="details">
          <h1><span class="underline">I, Tokyo</span></h1>
          <h1>Jacob Aue Sobol</h1>
          <p>Portrait Photography<br>Tokyo, Japan</p>
          <p>19.06.-26.202<br>Vernissage online on gallerieVUE.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
