<ul class="inline sortable dragaware">

      <li class="demo" style="display: inline-block;">
        <button class="btn btn-primary drag draggable dragaware">Drag me</button>
      </li>
    </ul>


<div class="drop border border-secondary" style="width:50%; height: 500px;"><p>Drop here</p></div>


$('.demo').draggable();
$('.demo').sortable();
