<div style="position:relative; width: 100vw; height: 100vh;">
  <div class="artwork" style="width: fit-content; position: absolute;" id="black-box">
    <img src="https://images.unsplash.com/photo-1591602672136-b205b9e92d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" width="300px" height="auto" alt="">
    <div style="height: 100%; width: 100%; position: relative;" id="resize-icon">
      <div class="resize-icon" style=" width:20px; height:20px; background-color: gray; position: absolute; bottom: 0; right: 0;"></div>
    </div>
  </div>

  <p class="">Artwork Two</p>

  <div class="artwork" style="width: fit-content; position: absolute;" id="black-box">
    <img src="https://images.unsplash.com/photo-1591637663652-34056e6a18a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" width="300px" height="auto" alt="">
    <div style="height: 100%; width: 100%; position: relative;" id="resize-icon">
      <div class="resize-icon" style=" width:20px; height:20px; background-color: gray; position: absolute; bottom: 0; right: 0;"></div>
    </div>
  </div>
</div>


<div class='resizable'>
  <div class='resizers'>
    <div class='resizer top-left'></div>
    <div class='resizer top-right'></div>
    <div class='resizer bottom-left'></div>
    <div class='resizer bottom-right'></div>
  </div>
</div>
