<div class="artwork" style=" background-color:black; position: absolute;" id="black-box" draggable>
  <img src="https://images.unsplash.com/photo-1591602672136-b205b9e92d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" width="300px" height="auto" alt="">
  <div style="height: 100%; width: 100%; position: relative;" id="resize-icon">
    <div class="resize-icon" style=" width:20px; height:20px; background-color: gray; position: absolute; bottom: 0; right: 0;"></div>
  </div>
</div>

<p class="">Artwork Two</p>

<div class="artwork" style=" background-color:black; position: absolute;" id="black-box" draggable>
  <img src="https://unsplash.com/photos/xLS_W6RVx-8" width="300px" height="auto" alt="">
  <div style="height: 100%; width: 100%; position: relative;" id="resize-icon">
    <div class="resize-icon" style=" width:20px; height:20px; background-color: gray; position: absolute; bottom: 0; right: 0;"></div>
  </div>
</div>
