.home-banner {
  background-image: image-url("banner.jpg");
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: right;
  padding-top: 40vh;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1;
  }
}

.home-banner-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin-top: 200px;

  .details h1, .details p {
    color: white;
    padding-right: 14px;
  }
  .details {
    margin-top: 60px;
  }
  .details p {
    text-align: left;
  }

  .details .underline {
    width: 100%;
    border-bottom: solid 4px white;
  }

  .live h4 {
    background: #B80000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white !important;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 900;
    margin-left: 65px;
    margin-top: 66px;
  }
}

@media(max-width: 600px) {
  .home-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 50%;
    width: 100vw;
    margin: 0;
  }
}
