.main-carousel {
  height: 450px;
  .flickity-viewport {
    height: 100% !important;
  }
}

.carousel-cell > #poster {
  margin-right: 1px;
  width: 300px;
}

.flickity-page-dots {
  bottom: -22px;
  display: none;
}

.flickity-page-dots .dot {
  height: 4px;
  width: 100px;
  margin: 0;
  border-radius: 0;
  color: #3D0000 !important;
  display: none;
}

.flickity-slider {
  display: flex;
  align-items: flex-end;
}
