.footer {
  position: relative;
  margin-top: 18px;
  background-color: white;
  width: 100%;
  bottom: 0;
}

.footer-links {
  text-align: center;
}

.fab {
  text-align: center;
  color: grey;
  &:hover {
  	color: black;
  }
}
