.masonry-grid {
  width: 100%;
}

.masonry-grid-item {
  width: 25%;
  margin-bottom: 10px;
  img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .masonry-grid-item {
  width: 50%;
  margin-bottom: 5px;
} 
}

.card-masonry {
  padding: 10px;
}

.card-masonry:hover {
  
}
