.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-lewagon-white {
  background-color: white !important;
}

.navbar-lewagon-homepage {
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-family: 'verlag-condensed-black', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.fa-bars {
color: black;
font-size: 20px;
}
