<h1>Shows#edit</h1>
<p>Find me in app/views/shows/edit.html.erb</p>

<div class='container d-flex justify-content-between'>
  <div id="poster-display" class=''>
  <%= cl_image_tag(@show.photo.key, transformation: { width: 200, height: 200, crop: 'fill'}) %>
  </div>
  <div class='bg-info flex-fill' id='show-title-statement'>
    <div class='d-flex flex-column align-items-center justify-content-end'>
      <div>
        <h1 class='m-2'><%= @show.title %></h1>
      </div>
      <div>
        <p class='m-3'><%= @show.statement %></p>
      </div>  
    </div>
    
  </div>
</div>

<div class='container'></div>
