<div class='container d-flex justify-content-between'>
  <div id="poster-display" class=''>
  <%= cl_image_tag(@show.photo.key, transformation: { width: 200, height: 200, crop: 'fill'}) %>
  </div>
  <div class='bg-info flex-fill' id='show-title-statement'>
    <div class='d-flex flex-column align-items-center justify-content-end'>
      <div>
        <h1 class='m-2'><%= @show.title %></h1>
      </div>
      <div>
        <p class='m-3'><%= @show.statement %></p>
      </div>  
    </div>
    
  </div>
</div>

	<!--<div class="col-8"> 
		<div class="m-3">-->

			<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color:black">Artworks</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="color:black">Panels</a>
			  </li>
			</ul>

			<!-- <div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					info
				</div>

				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					stuff
				</div>
			</div>-->

		<div class="tab-content" id="myTabContent">
  		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class='container'>
          <% @artworks.each do |a| %>
          <%= cl_image_tag(a.photo.key, transformation: { width: 200, height: 200, crop: 'fill'})%>
          <% end %>
        </div>
			</div>
		  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
		  	<div class="card-writing">
			  	<div style="text-align: center;">
			  			
					  <br>
					 <h1>hello</h1>
					  <%#=  write.article %>
			  	</div>
		  	</div>
		  </div>
		</div>
		<!-- </div>
	</div>
</div>
<div class='container'></div>-->


