<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
</div>
<div class="modal-body">
	<h1>Create a new Show</h1>

	<%= simple_form_for(@show) do |f| %>
	  <%= f.input :title %>
	  <%= f.input :photo, as: :file %>
	<div class="modal-footer">
	  <%= f.submit class: 'btn btn-primary' %>
	</div>
<% end %>